In [1]:
import pandas as pd

In [3]:
# Pandas 의 Series 생성
series1 = pd.Series([1,2,3,4,5])
series1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
# 인덱스 지정해서 Series 생성
series2=pd.Series([1,2,3,4,5], index=['일','이','삼','사','오'])
series2

일    1
이    2
삼    3
사    4
오    5
dtype: int64

In [8]:
population=pd.Series([9904312,3448737,2890451,2466052], index=['서울','부산','인천', '대구'])
population

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [9]:
# Series 정보 확인
# 값, 인덱스, 타입
# values, index, dtype
population.values # 값확인

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [10]:
population.index # 인덱스 확인

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [11]:
population.dtype #타입 확인

dtype('int64')

In [12]:
#Series의 컬럼 이름 지정
population.name='인구'
population

서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [13]:
population.index.name='도시'
population

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

AttributeError: 'numpy.ndarray' object has no attribute 'name'